{{/* dive will call gencheck validate on a struct */ -}}
{{define "dive"}}
{{ if or (isStruct .) (isStructPtr .) -}}
{{ if isPtr . }}if s.{{.FieldName}} != nil { {{- end -}}
if err := gencheck.Validate({{ if not (isPtr .) }}&{{end}}s.{{.FieldName}}); err != nil {
  {{ addError . "err" }}
}
{{ if isPtr . }}}{{end -}}
{{ else }}
{{ generationError (printf "Dive is not valid on field '%s %s'" .FieldName .FieldType) }}
{{- end -}}
{{- end -}}
