
{{define "hex"}}
{{ if eq .FieldType "string" "*string" -}}
if err := gencheck.IsHex({{if not (isPtr . )}}&{{end}}s.{{.FieldName}}); err != nil {
  {{ addError . "err" }}
}
{{ else if eq .FieldType "[]string" "[]*string" -}}
for index, single{{.FieldName}} := range s.{{.FieldName}} {
  if err := gencheck.IsHex({{if eq .FieldType "[]string"}}&{{end}}single{{.FieldName}}); err != nil {
  {{ addError . (printf `fmt.Errorf("%%s[%%d] - %%s", index, single%s, err)` .FieldName) }}
  }
}
{{ else }}
{{ generationError (printf "hex is not valid on field '%s %s'" .FieldName .FieldType) }}
{{end}}
{{- end -}}
