{{define "required"}}
  {{ if IsNullable . }}
  if s.{{.FieldName}} == nil {
    {{ AddError . "errors.New(\"is required\")" }}
  }
  {{ else if eq .FieldType "string" }}
  if s.{{.FieldName}} == "" {
    {{ AddError . "errors.New(\"is required\")" }}
  }
  {{ else if eq .FieldType "int" "int8" "int16" "int32" "int64" "uint" "uint8" "uint16" "uint32" "uint64" "byte" "rune"}}
  {{ GenerationError "Required on integer values is not supported."}}
  {{ else if eq .FieldType "float" "float32" "float64" "complex64" "complex128" }}
  {{ GenerationError "Required on numerical values is not supported."}}
  {{ else if eq .FieldType "bool" }}
  {{ GenerationError "Required on boolean values is not supported."}}
  {{ else if isStruct . }}
  var zero{{.FieldName}} {{.FieldType}}
  if s.{{.FieldName}} == zero{{.FieldName}} {
    {{ AddError . "errors.New(\"is required\")" }}
  }
  {{ else }}
  var zero{{.FieldName}} {{.FieldType}}
  if s.{{.FieldName}} == zero{{.FieldName}} {
    {{ AddError . "errors.New(\"is required\")" }}
  }
  {{ end }}
{{end -}}
